server:
  port: 8000

spring:
  application:
    name: auth-service

  datasource  :
    url: jdbc:postgresql://localhost:5432/nithingodugu
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: Lq6wZCq7F7T2M1X9w6N0EJ8KXzP9vF5R8WmQH4A2YcU=
  access-token-expiration: 900
  refresh-token-expiration: 604800