server:
  port: 8000

spring:
  application:
    name: auth-service

  datasource  :
    url: jdbc:postgresql://localhost:5432/nithingodugu
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
