services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=nithin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U nithin"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - ecom-network
  
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    restart: always
    ports:
      - "9092:9092"
    environment:
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
    networks:
      - ecom-network


  auth-service:
    build: ./auth-service
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/auth_db
      SPRING_DATASOURCE_USERNAME: nithin
      SPRING_DATASOURCE_PASSWORD: admin
    networks:
      - ecom-network

  product-service:
    build: ./product-service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/product_db
      SPRING_DATASOURCE_USERNAME: nithin
      SPRING_DATASOURCE_PASSWORD: admin
    ports:
      - "8001:8001"

    networks:
      - ecom-network

  order-service:
    build: ./order-service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/order_db
      SPRING_DATASOURCE_USERNAME: nithin
      SPRING_DATASOURCE_PASSWORD: admin
    ports:
      - "8002:8002"

    networks:
      - ecom-network

  inventory-service:
    build: ./inventory-service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/product_db
      SPRING_DATASOURCE_USERNAME: nithin
      SPRING_DATASOURCE_PASSWORD: admin
    ports:
      - "8003:8003"
    networks:
      - ecom-network

volumes:
  pgdata:

networks:
  ecom-network:
    driver: bridge