<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="SERVICE_NAME" source="spring.application.name"/>
    <springProperty name="ENV"          source="spring.profiles.active"   defaultValue="local"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <customFields>{"service":"${SERVICE_NAME}","env":"${ENV}"}</customFields>
            <mdcKeyAllowList>traceId,spanId</mdcKeyAllowList>

            <fieldNames>
                <timestamp>timestamp</timestamp>
                <message>message</message>
                <logger>logger</logger>
                <thread>thread</thread>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${SERVICE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/${SERVICE_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"${SERVICE_NAME}","env":"${ENV}"}</customFields>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
        <queueSize>512</queueSize>
        <neverBlock>true</neverBlock>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>512</queueSize>
        <neverBlock>true</neverBlock>
    </appender>


    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE"/>
        <appender-ref ref="ASYNC_FILE"/>
    </root>

    <!-- Eureka exclude -->
    <logger name="com.netflix.discovery" level="WARN"/>
    <logger name="com.netflix.eureka"    level="WARN"/>

    <!-- SPG internal routing debug exclude -->
    <logger name="org.springframework.cloud.gateway" level="WARN"/>

    <!-- Reactor Netty connection pool chatter -->
    <logger name="reactor.netty" level="WARN"/>

    <!-- Spring Security filter chain - logs every request match -->
    <logger name="org.springframework.security" level="WARN"/>

    <!-- dev -->
<!--    <logger name="com.nithingodugu.ecommerce" level="DEBUG"/>-->

</configuration>