services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: nithin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: auth_service
    ports:
      - "5432:5432"
  auth-service:
    container_name: auth-service
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/auth_service
      SPRING_DATASOURCE_USERNAME: nithin
      SPRING_DATASOURCE_PASSWORD: admin

